
$swiper-theme-color: #007aff;
$colors-success: rgb(129, 199, 132);
$colors-error-100: rgb(182, 73, 70);
$colors-error-200: rgb(162, 65, 62);
$colors-error-300: rgb(141, 57, 55);
$colors-error-400: rgb(121, 49, 47);
$colors-error-500: rgb(101, 41, 39);
$colors-error-600: rgb(81, 32, 31);
$colors-error-700: rgb(61, 24, 23);
$colors-error-800: rgb(40, 16, 16);
$colors-error-900: rgb(20, 8, 8);
$colors-error: rgb(202, 81, 78);
$colors-orange-100: rgb(246, 191, 83);
$colors-orange-200: rgb(255, 144, 82);
$colors-orange-300: rgb(255, 230, 198);
$colors-orange-400: rgb(239, 139, 72);
$colors-orange-500: rgb(255, 218, 42);
$colors-orange-600: rgb(254, 224, 130);
$colors-orange-700: rgb(240, 158, 99);
$colors-orange: rgb(249, 191, 143);
$colors-green-100: rgb(54, 190, 173);
$colors-gray-25: rgb(242, 242, 242);
$colors-gray-50: rgb(230, 230, 230);
$colors-gray-75: rgb(214, 214, 214);
$colors-gray-80: rgb(189, 189, 189);
$colors-gray-100: rgb(178, 178, 178);
$colors-gray-150: rgb(128, 128, 128);
$colors-gray-175: rgb(174, 174, 174);
$colors-gray-200: rgb(102, 102, 102);
$colors-gray-250: rgb(130, 130, 130);
$colors-gray-300: rgb(77, 77, 77);
$colors-gray-350: rgb(87, 87, 87);
$colors-gray-400: rgb(51, 51, 51);
$colors-gray-450: rgb(68, 68, 68);
$colors-gray-500: rgb(43, 43, 43);
$colors-gray-600: rgb(38, 38, 38);
$colors-gray-650: rgb(31, 31, 31);
$colors-gray-700: rgb(29, 29, 29);
$colors-gray-800: rgb(27, 27, 27);
$colors-gray-900: rgb(23, 23, 23);
$colors-gray-1000: rgb(210, 210, 210);
$colors-gray-1100: rgb(104, 104, 104);
$colors-gray-1200: rgb(51, 51, 51);
$colors-violet-300: rgb(196, 181, 253);
$colors-violet-400: rgb(167, 139, 250);
$colors-violet-600: rgb(124, 58, 237);
$colors-violet-700: rgb(203, 82, 220);
$colors-violet-800: rgb(173, 22, 104);
$colors-violet: rgb(142, 68, 173);
$colors-purple-100: rgb(192, 180, 255);
$colors-purple-200: rgb(149, 125, 255);
$colors-purple-300: rgb(83, 76, 218);
$colors-purple-600: rgb(32, 22, 70);
$colors-purple-700: rgb(33, 23, 77);
$colors-purple-800: rgb(119, 55, 255);
$colors-darkPurple-500: rgb(41, 0, 62);
$colors-darkPurple-800: rgb(7, 0, 17);
$colors-brown-700: rgb(76, 40, 39);
$colors-blue-100: rgb(12, 140, 233);
$colors-blue-200: rgb(4, 18, 31);
$colors-blue-300: rgb(60, 160, 216);
$colors-blue-400: rgb(16, 133, 199);
$colors-blue-500: rgb(49, 110, 229);
$colors-blue-600: rgb(160, 221, 255);
$colors-blue-700: rgb(112, 130, 209);
$colors-blue-800: rgb(15, 45, 74);
$colors-blue-900: rgb(2, 11, 19);
$colors-darkBlue-100: rgb(231, 231, 235);
$colors-darkBlue-200: rgb(207, 208, 215);
$colors-darkBlue-300: rgb(183, 184, 195);
$colors-darkBlue-400: rgb(159, 160, 175);
$colors-darkBlue-500: rgb(135, 137, 155);
$colors-darkBlue-600: rgb(110, 113, 134);
$colors-darkBlue-700: rgb(86, 89, 114);
$colors-darkBlue-800: rgb(62, 65, 94);
$colors-darkBlue-900: rgb(38, 42, 74);
$colors-darkBlue-1000: rgb(31, 31, 31);
$colors-darkBlue-1100: rgb(23, 23, 23);
$colors-darkBlue: rgb(14, 18, 54);
$colors-pink-100: rgb(253, 236, 242);
$colors-pink-200: rgb(252, 217, 228);
$colors-pink-300: rgb(250, 198, 215);
$colors-pink-400: rgb(248, 179, 202);
$colors-pink-500: rgb(247, 160, 189);
$colors-pink-600: rgb(245, 141, 175);
$colors-pink-700: rgb(243, 122, 162);
$colors-pink-800: rgb(241, 103, 149);
$colors-pink-900: rgb(240, 84, 135);
$colors-pink: rgb(238, 65, 122);
$colors-lightPink-500: rgb(242, 122, 215);
$colors-lightPink-800: rgb(255, 171, 221);
$colors-lightRed-100: rgb(255, 42, 131);
$colors-lightRed-200: rgb(79, 35, 35);
$colors-black: rgb(0, 0, 0);
$colors-white: rgb(255, 255, 255);
$colors-transparent: rgb(0, 0, 0);
$colors-current: currentColor;
$colors-inherit: inherit;
$colors-lightSky: rgb(23, 137, 202);
$colors-facebook-bg: rgb(61, 101, 196);
$colors-facebook-bgHover: rgb(49, 81, 156);
$colors-facebook-text: rgb(255, 255, 255);
$colors-google-bg: rgb(255, 255, 255);
$colors-google-bgHover: rgb(228, 228, 228);
$colors-google-text: rgb(45, 45, 45);
$colors-hitfilm-red: rgb(247, 52, 0);
$toastify-color-light: #fff;
$toastify-color-dark: #121212;
$toastify-color-info: #3498db;
$toastify-color-success: #07bc0c;
$toastify-color-warning: #f1c40f;
$toastify-color-error: #e74c3c;
$toastify-color-transparent: hsla(0, 0%, 100%, .7);
$toastify-icon-color-info: $toastify-color-info;
$toastify-icon-color-success: $toastify-color-success;
$toastify-icon-color-warning: $toastify-color-warning;
$toastify-icon-color-error: $toastify-color-error;
$toastify-toast-width: 320px;
$toastify-toast-background: #fff;
$toastify-toast-min-height: 64px;
$toastify-toast-max-height: 800px;
$toastify-font-family: sans-serif;
$toastify-z-index: 9999;
$toastify-text-color-light: #757575;
$toastify-text-color-dark: #fff;
$toastify-text-color-info: #fff;
$toastify-text-color-success: #fff;
$toastify-text-color-warning: #fff;
$toastify-text-color-error: #fff;
$toastify-spinner-color: #616161;
$toastify-spinner-color-empty-area: #e0e0e0;
$toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
$toastify-color-progress-dark: #bb86fc;
$toastify-color-progress-info: $toastify-color-info;
$toastify-color-progress-success: $toastify-color-success;
$toastify-color-progress-warning: $toastify-color-warning;
$toastify-color-progress-error: $toastify-color-error;
