@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

i {
  cursor: pointer;
}

:root {
  /**
   * colors
   */
  --eerie-black_a95: hsla(204, 9%, 11%, 0.95);
  --eerie-black_a50: hsla(204, 9%, 11%, 0.5);
  --eerie-black: hsl(204, 9%, 11%);
  --gainsboro: hsl(225, 7%, 89%);
  --charcoal: hsl(203, 9%, 28%);
  --silver-sand: hsl(208, 12%, 78%);
  --light-sky-blue: hsl(200, 100%, 73%);
  --prussian-blue: hsl(196, 100%, 14%);
  --black: hsl(0, 0%, 0%);
  --black_a50: hsla(0, 0%, 0%, 0.5);
  --black_a20: hsla(0, 0%, 0%, 0.2);
  --light-sky-blue_a8: hsla(200, 100%, 73%, 0.08);
  --light-sky-blue_a12: hsla(200, 100%, 73%, 0.12);
  --silver-sand_a8: hsla(208, 12%, 78%, 0.08);
  --silver-sand_a12: hsla(208, 12%, 78%, 0.12);
  --background: var(--eerie-black);
  --background-opacity: var(--eerie-black_a95);
  --on-background: var(--gainsboro);
  --surface-variant: var(--charcoal);
  --on-surface-variant: var(--silver-sand);
  --on-surface-variant-hover: var(--light-sky-blue_a8);
  --on-surface-variant-focus: var(--light-sky-blue_a12);
  --primary: var(--light-sky-blue);
  --on-primary: var(--prussian-blue);
  /**
   * gradient
   */
  --gradient: linear-gradient(180deg, hsla(204, 9%, 11%, 0.90) 60%, transparent 120%);
  /**
   * typography
   */
  --ff-inter: "Inter", sans-serif;
  --headline-sm: 2.4rem;
  --title-lg: 2.2rem;
  --label-lg: 1.4rem;
  --label-md: 1.2rem;
  --fw-400: 400;
  --fw-500: 500;
  /**
   * box shadow
   */
  --shadow-1: 0 1px 4px 1px var(--black_a20);
  --shadow-2: 0 1px 4px 1px var(--black_a50);
  /**
   * border radius
   */
  --radius-24: 24px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-pill: 100px;
  --radius-circle: 50%;
  /**
   * transition
   */
  --transition-1: 200ms cubic-bezier(0.2, 0, 0, 1);
  --transition-2: 300ms cubic-bezier(0.2, 0, 0, 1);
}

body {
  background-color: var(--black);
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: var(--radius-pill);
}

body:hover::-webkit-scrollbar-thumb {
  background-color: var(--surface-variant);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

span {
  cursor: pointer;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

img, i {
  cursor: pointer;
}

.active {
  position: relative;
}
.active::before {
  position: absolute;
  width: 150%;
  content: "";
  height: 4px;
  background-color: #ffda2a;
  bottom: -18px;
  left: -10px;
}

.ap {
  position: relative;
}
.ap::after {
  position: absolute;
  width: 2px;
  content: "";
  height: 150%;
  right: -12px;
  bottom: -5px;
  background-color: rgb(77, 77, 77);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  align-items: center;
  z-index: 12345;
  padding: 10px 20px;
  background-color: #121212;
}
nav i {
  color: #fff;
}
nav .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .left .bi-search {
  font-size: 16px;
}
nav .center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5px;
}
nav .center li a {
  color: #757575;
  font-size: 15px;
  font-weight: 600;
}
nav .list2 {
  display: none;
  font-size: 20px;
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .right ul {
  display: flex;
  align-items: center;
}
nav .right a {
  color: #757575;
  font-size: 20px;
}
nav .right .logout {
  background-color: #ffda2a;
  color: #000;
  padding: 6px 8px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  display: none;
  transition: all 0.5s ease;
  filter: brightness(100%);
  font-size: 15px !important;
}
nav .right .logout i {
  color: #000;
}
nav .right .logout:hover {
  filter: brightness(50%);
}
nav .right button {
  min-width: 130px;
  padding: 6px 8px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
  font-size: 15px !important;
}
nav .right button:hover {
  filter: brightness(50%);
}

@media screen and (max-width: 1024px) {
  nav .center {
    display: none;
  }
}
@media screen and (max-width: 776px) {
  nav .center {
    display: none;
  }
  nav .right {
    display: none;
  }
  nav .bi-list {
    display: none;
  }
  nav .list2 {
    display: block;
  }
}
.nav2 {
  position: fixed;
  min-height: 100vh;
  background-color: #121213;
  width: 100%;
  z-index: 10000000000000000000000;
  overflow: scroll;
  transform: translateX(100%);
  transition: all 0.2s ease-in;
  flex-direction: column;
  padding: 60px 0;
  gap: 30px;
}
.nav2 .bi-x {
  position: absolute;
  font-size: 30px;
  color: #fff;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.nav2 .button {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.nav2 .button button {
  width: 130px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  font-size: 15px;
}
.nav2 .button button:nth-child(1) {
  background-color: #ffda2a;
  transition: all 0.5s ease;
}
.nav2 .button button:nth-child(1):hover {
  filter: brightness(50%);
}
.nav2 .button button:nth-child(2) {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 0.5s ease;
}
.nav2 .button button:nth-child(2):hover {
  background-color: #fff;
  color: #000;
}
.nav2 ul li {
  width: 100%;
}
.nav2 ul li a {
  color: #fff;
  font-size: 15px;
}

.menu-open {
  transform: translateX(0);
}

.nav3 {
  position: fixed;
  min-height: 100vh;
  background-color: #121213;
  width: 30%;
  z-index: 10000000000000000000000;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.2s ease-in;
  flex-direction: column;
  padding: 60px 0;
  gap: 30px;
}
.nav3 .bi-x {
  position: absolute;
  font-size: 30px;
  color: #fff;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.nav3 .button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
.nav3 .button h1 {
  color: #fff;
  white-space: wrap;
  margin-left: 20px;
  font-size: 2vw;
  cursor: pointer;
}
.nav3 .button button {
  width: 130px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  font-size: 15px;
}
.nav3 .button button:nth-child(1) {
  background-color: #ffda2a;
  transition: all 0.5s ease;
  white-space: nowrap;
}
.nav3 .button button:nth-child(1):hover {
  filter: brightness(50%);
}
.nav3 .button button:nth-child(2) {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 0.5s ease;
}
.nav3 .button button:nth-child(2):hover {
  background-color: #fff;
  color: #000;
}
.nav3 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav3 ul li {
  width: 100%;
}
.nav3 ul li a {
  color: #fff;
  font-size: 15px;
}

.menu-open {
  transform: translateX(0);
}

button {
  white-space: nowrap;
}

.section1 {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/bg-landscape.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
}
.section1 .section11 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 260px;
  position: relative;
}
.section1 .section11:hover .imag1 {
  transform: translate(-10px, -10px);
}
.section1 .section11:hover .imag2 {
  transform: translate(-10px, 10px);
}
.section1 .section11:hover .imag3 {
  transform: translate(10px, -10px);
}
.section1 .section11:hover .imag4 {
  transform: translate(10px, 10px);
}
.section1 .section11 .imag1 {
  top: 30px;
  left: 30px;
}
.section1 .section11 .imag1:hover {
  transform: translate(-15px, -15px);
}
.section1 .section11 .imag2 {
  bottom: 30px;
  left: 30px;
}
.section1 .section11 .imag2:hover {
  transform: translate(-15px, 15px);
}
.section1 .section11 .imag3 {
  top: 30px;
  right: 30px;
}
.section1 .section11 .imag3:hover {
  transform: translate(15px, -15px);
}
.section1 .section11 .imag4 {
  bottom: 30px;
  right: 30px;
}
.section1 .section11 .imag4:hover {
  transform: translate(15px, 15px);
}
.section1 .section11 .imag {
  width: 14%;
  position: absolute;
  transition: all 0.5s ease;
}
.section1 .section11 .imag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section1 .section11 .hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section1 .section11 .center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  opacity: 0;
  border-bottom: 1px solid white;
  padding: 8px 0;
}
.section1 .section11 .center li a {
  font-size: 18px;
  font-weight: 600;
}
.section1 .section11 .foot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  gap: 30px;
  font-size: 16px;
  flex-wrap: wrap;
}
.section1 .section11 .foot span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.section1 .section11 .foot span i {
  font-size: 30px;
  color: #ffda2a;
}
.section1 .section11 .text {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.section1 .section11 .text h1 {
  font-size: 57px;
  color: #F7BF53;
}
.section1 .section11 .text p {
  color: #fff;
}
.section1 .section11 .text button {
  padding: 14px 49px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
}
.section1 .section11 .text button:hover {
  filter: brightness(50%);
}

@media screen and (max-width: 991px) {
  .section1 {
    min-height: 100vh;
  }
  .section1 .section11 {
    gap: 100pX;
  }
  .section1 .section11 .imag {
    display: none;
  }
  .section1 .section11 .center {
    opacity: 1;
  }
  .section1 .section11 .center a {
    padding: 6px;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
  }
  .section1 .section11 .center a:hover {
    background-color: rgb(15, 45, 74);
    color: #fff;
    border: 1px solid rgb(15, 45, 74);
  }
  .section1 .section11 .text {
    width: 100%;
    gap: 15px;
  }
  .section1 .section11 .text h1 {
    font-size: 30px;
  }
  .section1 .section11 .text p {
    font-size: 15px;
  }
  .section1 .section11 .text button {
    padding: 5px 4px;
  }
}
@media screen and (max-width: 671px) {
  .section1 .section11 .foot {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.section2 {
  width: 100%;
  background-image: linear-gradient(202.89deg, #080827 -19.1%, #1b0620 91.1%);
  padding-block: 70px;
}
.section2 .section21 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}
.section2 .section21 .top {
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .section21 .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.section2 .section21 .center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0 32px;
}
.section2 .section21 .center .cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.section2 .section21 .center .cart span {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.section2 .section21 .center .cart span h5 {
  position: absolute;
  left: 110px;
  top: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 10px;
  color: #000;
  background-image: linear-gradient(252.31deg, #ffeeb0 23.28%, #f7bf53 81.61%);
}
.section2 .section21 .center .cart p {
  color: rgb(178, 178, 178);
  width: 100%;
  font-size: 15px;
}
.section2 .section21 .center .cart a {
  padding: 8px 8px;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 0.5s ease;
}
.section2 .section21 .center .cart a:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 991px) {
  .section2 .section21 .center {
    grid-template-columns: repeat(1, 1fr);
  }
  .section2 .section21 .center .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section2 .section21 .center .cart p {
    text-align: center;
  }
}
.section3 {
  background-color: #121213;
  width: 100%;
  min-height: 100vh;
  padding: 70px 0;
}
.section3 .section31 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.section3 .section31 .comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section3 .section31 .comment .com {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.section3 .section31 .comment .com span {
  color: #fff;
  color: rgb(210, 210, 210);
}
.section3 .section31 .comment .com .you {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.section3 .section31 .comment .com .you h1 {
  font-size: 25px;
}
.section3 .section31 .comment .com .you p {
  font-size: 15px;
  color: rgb(210, 210, 210);
}
.section3 .section31 .comment .com .image {
  width: 30%;
  min-width: 100px;
  min-height: 100px;
}
.section3 .section31 .comment .com .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3 .section31 .video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section3 .section31 .video video {
  width: 100%;
  border-radius: 30px;
}
.section3 .section31 .video .tx h1 {
  color: #fff;
}
.section3 .section31 .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section3 .section31 .top .text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.section3 .section31 .top .text a {
  padding: 8px 8px;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 0.5s ease;
}
.section3 .section31 .top .text a:hover {
  background-color: #fff;
  color: #000;
}
.section3 .section31 .top .text span {
  color: #fff;
  font-size: 35px;
}
.section3 .section31 .top .text p {
  color: rgb(242, 242, 242);
  font-size: 15px;
}
.section3 .section31 .top .image {
  width: 40%;
  min-width: 240px;
  min-height: 240px;
}
.section3 .section31 .top .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3 .section31 .top .image3 {
  width: 30%;
}
.section3 .section31 .top .image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .section3 .section31 .comment {
    display: none;
  }
  .section3 .section31 .top {
    flex-direction: column;
  }
  .section3 .section31 .top .text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .section3 .section31 .top .text span {
    font-size: 25px;
  }
  .section3 .section31 .top2 {
    flex-direction: column-reverse;
  }
}
.section4 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(202.89deg, #080827 -19.1%, #1b0620 91.1%);
  padding-top: 100px;
  padding-bottom: 10px;
}
.section4 .section41 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.section4 .section41 .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 20px;
}
.section4 .section41 .top .cent {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section4 .section41 .top .cent li a {
  padding: 6px;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
}
.section4 .section41 .top .cent li a:hover {
  background-color: rgb(15, 45, 74);
  color: #fff;
  border: 1px solid rgb(15, 45, 74);
}
.section4 .section41 .bottom {
  width: 100%;
}
.section4 .section41 .bottom img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .section4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section4 .section41 .top {
    display: none;
  }
}
.section5 {
  width: 100%;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  background-image: url(../image/guestHomePageFooterSectionBackground.avif);
}
.section5 .section51 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section5 .section51 .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: #F7BF53;
  gap: 20px;
}
.section5 .section51 .text button {
  font-weight: 600;
  border-radius: 23px;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
  white-space: nowrap;
  padding: 15px 25px;
}
.section5 .section51 .text button:hover {
  filter: brightness(50%);
}

.section6 {
  width: 100%;
  background-color: #000;
  padding-block: 40px;
}
.section6 .section61 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.section6 .section61 h1 {
  color: #fff;
}
.section6 .section61 .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  gap: 20px;
}
.section6 .section61 .text .text2 {
  width: 60%;
  color: #fff;
  position: relative;
}
.section6 .section61 .text .text2 h1 {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px 12px;
  font-size: 15px;
  border-radius: 6px;
}
.section6 .section61 .text .text2 span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}
.section6 .section61 .text .text2 p {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  display: none;
  font-size: 14px;
  padding: 0 12px;
}
.section6 .sp {
  color: white;
  font-size: 20px;
}
.section6 .sp a {
  color: #ffda2a;
  border-bottom: #ffda2a 1px solid;
}

.none {
  display: none;
}

@media screen and (max-width: 776px) {
  .section6 .section61 .text {
    width: 100%;
  }
  .section6 .section61 .text .text2 {
    width: 100%;
  }
}
footer {
  background-color: #121213;
  width: 100%;
  flex-direction: column;
  padding: 20px 32px;
  gap: 20px;
}
footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .bottom span {
  transition: all 0.5s ease;
}
footer .bottom span:hover {
  color: #fff;
}
footer .bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
footer .bottom ul li a i {
  color: #fff;
  font-size: 23px;
}
footer .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .top .left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  gap: 15px;
  min-width: 240px;
}
footer .top .left p {
  color: #fff;
}
footer .top .left img {
  color: #ffda2a;
}
footer .top .left .logos {
  width: 35%;
  height: 15%;
}
footer .top .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 50%;
}
footer .top .right span {
  color: #fff;
}
footer .top .right ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .top .right ul p {
  display: none;
}
footer .top .right ul li a {
  color: white;
  font-size: 15px;
  transition: all 0.5s ease;
}
footer .top .right ul li a:hover {
  color: #ffda2a;
}

@media screen and (max-width: 991px) {
  footer .top {
    flex-direction: column;
  }
}
@media screen and (max-width: 771px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .right {
    flex-direction: column;
  }
  footer .top .right ul {
    position: relative;
  }
  footer .top .right ul span {
    min-width: 200px;
  }
  footer .top .right ul li {
    display: none;
    height: 0px;
  }
  footer .top .right ul p {
    display: none;
  }
}
.plugin {
  background-image: url(../image/power-up-bg.png);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  background-color: #121213;
}
.plugin .plugin1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}
.plugin .plugin1 .text {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.plugin .plugin1 .text h1 {
  background-image: linear-gradient(54.08deg, rgb(112, 105, 255) 18.46%, rgb(253, 194, 202) 95.34%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.plugin .plugin1 .text button {
  width: 130px;
  height: 40px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
  filter: brightness(100%);
}
.plugin .plugin1 .text button:hover {
  filter: brightness(50%);
}
.plugin .plugin1 .video {
  width: 100%;
}
.plugin .plugin1 .video video {
  width: 100%;
  border-radius: 30px;
}

@media screen and (max-width: 776px) {
  .plugin .container .plugin1 .text {
    width: 100%;
  }
  .plugin .container .plugin1 .text h1 {
    width: 100%;
  }
}
.plugin3 {
  background-color: #121213;
  padding-block: 100px;
  width: 100%;
}
.plugin3 .plugin31 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.plugin3 .plugin31 .text {
  width: 40%;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.plugin3 .plugin31 .text span {
  font-size: 40px;
}
.plugin3 .plugin31 .text p {
  font-size: 20px;
}
.plugin3 .plugin31 .video2 {
  width: 50%;
}
.plugin3 .plugin31 .video2 video {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 776px) {
  .plugin3 .plugin31 {
    flex-direction: column;
  }
  .plugin3 .plugin31 .text {
    width: 100%;
  }
  .plugin3 .plugin31 .video2 {
    width: 100%;
  }
}
.plugin4 {
  background-image: url(../image/keying-bg.png);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.plugin4 .plugin41 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.plugin4 .plugin41 .text {
  width: 40%;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.plugin4 .plugin41 .text span {
  font-size: 40px;
}
.plugin4 .plugin41 .text p {
  font-size: 20px;
}
.plugin4 .plugin41 .video2 {
  width: 50%;
}
.plugin4 .plugin41 .video2 video {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 776px) {
  .plugin4 .plugin41 {
    flex-direction: column;
  }
  .plugin4 .plugin41 .text {
    width: 100%;
    order: 2;
  }
  .plugin4 .plugin41 .video2 {
    width: 100%;
    order: 1;
  }
}
.plugin2 {
  background-image: url(../image/power-up-bg.png);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.plugin2 .plugin21 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.plugin2 .plugin21 .read {
  color: #fff;
  text-decoration: underline;
}
.plugin2 .plugin21 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  font-weight: 900;
  background-image: linear-gradient(54.08deg, rgb(112, 105, 255) 18.46%, rgb(253, 194, 202) 95.34%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.plugin2 .plugin21 .top h1 {
  font-weight: 700;
}
.plugin2 .plugin21 .comp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  gap: 30px;
}
.plugin2 .plugin21 .comp span {
  color: #fff;
}
.plugin2 .plugin21 .comp ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
  align-items: flex-start;
}
.plugin2 .plugin21 .comp ul li {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3px;
}
.plugin2 .plugin21 .comp ul li a {
  color: #fff;
}

@media screen and (max-width: 771px) {
  .plugin2 .plugin21 .top {
    width: 100%;
  }
  .plugin2 .plugin21 .comp ul {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.app {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(5, 0, 192, 0.8) 0%, rgba(23, 23, 23, 0.8) 100%);
  padding: 100px 0;
}
.app .app1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}
.app .app1 .text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.app .app1 .text h1 {
  background-image: linear-gradient(54.08deg, rgb(112, 105, 255) 18.46%, rgb(253, 194, 202) 95.34%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app .app1 .text button {
  width: 130px;
  height: 40px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
  filter: brightness(100%);
}
.app .app1 .text button:hover {
  filter: brightness(50%);
}
.app .app1 .image {
  width: 100%;
}
.app .app1 .image img {
  width: 100%;
  border-radius: 30px;
}

@media screen and (max-width: 776px) {
  .app .container .app1 .text h1 {
    width: 100%;
  }
}
.app2 {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(90% 60% at 80% 0%, rgba(247, 52, 0, 0.4) 0%, rgba(233, 10, 119, 0.4) 40%, rgb(23, 23, 23) 80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.app2 .app21 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  flex-direction: column;
}
.app2 .app21 .cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app2 .app21 .cart .text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
}
.app2 .app21 .cart .text .date {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.app2 .app21 .cart .text .date .bit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.app2 .app21 .cart .text .date .bit span {
  color: yellow;
}
.app2 .app21 .cart .text .date .bit p {
  text-align: start;
}
.app2 .app21 .cart .text span {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}
.app2 .app21 .cart .text p {
  color: rgb(242, 242, 242);
  font-size: 15px;
}
.app2 .app21 .cart .image {
  width: 40%;
  min-width: 240px;
  min-height: 240px;
}
.app2 .app21 .cart .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app2 .app21 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 40px;
  flex-direction: column;
}
.app2 .app21 .top button {
  width: 130px;
  height: 40px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
  filter: brightness(100%);
}
.app2 .app21 .top button:hover {
  filter: brightness(50%);
}
.app2 .app21 .top p {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
.app2 a {
  color: rgb(242, 242, 242);
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .app2 .app21 .cart {
    flex-direction: column;
  }
  .app2 .app21 .cart .text {
    width: 100%;
  }
  .app2 .app21 .cart .text .date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 776px) {
  .app2 .app21 .top p {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .app2 .app21 .cart {
    flex-direction: column;
  }
  .app2 .app21 .cart .text {
    width: 100%;
  }
  .app2 .app21 .cart .text .date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .app2 .app21 .cart .image {
    width: 100%;
  }
  .app2 .app21 .cart2 {
    flex-direction: column;
  }
  .app2 .app21 .cart2 .text {
    width: 100%;
    order: 1;
  }
  .app2 .app21 .cart2 .image {
    width: 100%;
    order: 2;
  }
}
.app3 {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: radial-gradient(100% 45% at 20% 0%, rgba(255, 0, 245, 0.3) 19.79%, rgb(23, 23, 23) 80%);
  padding: 100px 0;
}
.app3 .app31 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  flex-direction: column;
}
.app3 .app31 .cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app3 .app31 .cart .text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
}
.app3 .app31 .cart .text .date {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.app3 .app31 .cart .text .date .bit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.app3 .app31 .cart .text .date .bit span {
  color: yellow;
}
.app3 .app31 .cart .text .date .bit p {
  text-align: start;
}
.app3 .app31 .cart .text span {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}
.app3 .app31 .cart .text p {
  color: rgb(242, 242, 242);
  font-size: 15px;
}
.app3 .app31 .cart .image {
  width: 40%;
  min-width: 240px;
  min-height: 240px;
}
.app3 .app31 .cart .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app3 .app31 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 40px;
  flex-direction: column;
}
.app3 .app31 .top button {
  width: 130px;
  height: 40px;
  font-weight: 600;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
  filter: brightness(100%);
}
.app3 .app31 .top button:hover {
  filter: brightness(50%);
}
.app3 .app31 .top p {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
.app3 a {
  color: rgb(242, 242, 242);
  text-decoration: underline;
}

@media screen and (max-width: 776px) {
  .app3 .app31 {
    width: 100%;
  }
  .app3 .app31 .top {
    width: 100%;
  }
  .app3 .app31 .top p {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
  .app3 .app31 .cart {
    flex-direction: column;
  }
  .app3 .app31 .cart .text {
    width: 100%;
  }
  .app3 .app31 .cart .image {
    width: 100%;
  }
  .app3 .app31 .cart2 {
    flex-direction: column;
  }
  .app3 .app31 .cart2 .text {
    width: 100%;
    order: 1;
  }
  .app3 .app31 .cart2 .text span {
    font-size: 30px;
  }
  .app3 .app31 .cart2 .image {
    width: 100%;
    order: 2;
  }
}
.music1 {
  background-image: url(../image/music-homepage-banner-1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}
.music1 .music11 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 200px;
}
.music1 .music11 .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.music1 .music11 .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}
.music1 .music11 .top .text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}
.music1 .music11 .top .text h1 {
  font-size: 50px;
  color: #f7bf53;
  font-weight: 600;
}
.music1 .music11 .top .text .button {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.music1 .music11 .top .text .button :nth-child(1) {
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
  font-size: 20px;
}
.music1 .music11 .top .text .button :nth-child(1):hover {
  filter: brightness(50%);
}
.music1 .music11 .top .text .button :nth-child(2) {
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 20px;
}
.music1 .music11 .top .text .button :nth-child(2):hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 776px) {
  .music1 {
    padding: 40px 0;
  }
  .music1 .music11 {
    gap: 100px;
  }
  .music1 .music11 .top {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .music1 .music11 .top .text {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .music1 .music11 .top .text h1 {
    font-size: 30px;
  }
  .music1 .music11 .top .text .button {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.list {
  width: 100%;
  background-color: #121213;
}
.list .container .list11 {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  gap: 20px;
}
.list .container .list11 .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #fff;
  height: 2px;
  opacity: 0.2;
}
.list .container .list11 .center {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  gap: 20px;
  text-align: center;
}
.list .container .list11 .center h1 {
  font-size: 35px;
  font-weight: 800;
  width: 60%;
}
.list .container .list11 .center p {
  font-size: 22px;
  font-weight: 300;
  width: 100%;
}
.list .container .list11 button {
  padding: 8px 22px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
}
.list .container .list11 button:hover {
  filter: brightness(50%);
}
.list .container .list11 .bottom {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
}
.list .container .list11 .bottom ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.list .container .list11 .bottom ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.list .container .list11 .bottom ul li i {
  font-size: 30px;
  color: #ffda2a;
}

@media screen and (max-width: 991px) {
  .list .container .list11 .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 776px) {
  .list .container .list11 .center h1 {
    width: 100%;
    font-size: 20px;
  }
  .list .container .list11 .center p {
    font-size: 16px;
  }
}
@media screen and (max-width: 571px) {
  .list .container .list11 .bottom {
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
  .list .container .list11 .bottom ul li {
    font-size: 10px;
  }
  .list .container .list11 .bottom ul li i {
    font-size: 10px;
  }
}
.playlist {
  width: 100%;
  background-color: #121213;
  padding-block: 50px;
  height: 100vh;
  border-top: 1px solid #fff;
  color: #fff;
}
.playlist .playlist1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playlist .playlist1 .playsong {
  width: 30%;
  height: 90vh;
  border: 1px solid #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.playlist .playlist1 .playsong #search {
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 70%;
}
.playlist .playlist1 .playsong .song {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-y: scroll;
}
.playlist .playlist1 .playsong .song::-webkit-scrollbar-thumb {
  background-color: #ffda2a;
}
.playlist .playlist1 .playsong .song::-webkit-scrollbar {
  width: 2px;
}
.playlist .playlist1 .playsong .song .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  width: 100%;
  padding: 2px;
  border-radius: 10px;
  background-color: #4c5262;
}
.playlist .playlist1 .playsong .song .item .text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 18px;
  width: 60%;
}
.playlist .playlist1 .playsong .song .item h1 {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.playlist .playlist1 .playsong .song .item p {
  font-size: 14px;
  width: 100%;
}
.playlist .playlist1 .playsong .song .item i {
  font-size: 15px;
}
.playlist .playlist1 .playsong .song .item .img {
  width: 50px;
  height: 50px;
  border-radius: 99999px;
}
.playlist .playlist1 .playsong .song .item .img img {
  width: 50px;
  height: 50px;
  border-radius: 99999px;
  object-fit: cover;
}
.playlist .playlist1 .button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
  flex-wrap: wrap;
}
.playlist .playlist1 .button button {
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
  font-size: 10px;
}
.playlist .playlist1 .button button:hover {
  filter: brightness(50%);
}
.playlist .playlist1 .playimg {
  width: 70%;
  height: 90vh;
  border: 1px solid #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  overflow-y: scroll;
}
.playlist .playlist1 .playimg::-webkit-scrollbar-thumb {
  background-color: #ffda2a;
}
.playlist .playlist1 .playimg::-webkit-scrollbar {
  width: 2px;
}
.playlist .playlist1 .playimg h1 {
  font-size: 20px;
  border-bottom: 1px solid #ffda2a;
  display: inline-block;
}
.playlist .playlist1 .playimg .pop, .playlist .playlist1 .playimg .Piano, .playlist .playlist1 .playimg .Hiphop {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1px;
}
.playlist .playlist1 .playimg .pop .title, .playlist .playlist1 .playimg .Piano .title, .playlist .playlist1 .playimg .Hiphop .title {
  width: 100%;
}
.playlist .playlist1 .playimg .pop .image, .playlist .playlist1 .playimg .Piano .image, .playlist .playlist1 .playimg .Hiphop .image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: scroll;
  gap: 10px;
  width: 100%;
  padding: 4px 0;
}
.playlist .playlist1 .playimg .pop .image::-webkit-scrollbar-thumb, .playlist .playlist1 .playimg .Piano .image::-webkit-scrollbar-thumb, .playlist .playlist1 .playimg .Hiphop .image::-webkit-scrollbar-thumb {
  background-color: #ffda2a;
  cursor: pointer;
}
.playlist .playlist1 .playimg .pop .image::-webkit-scrollbar, .playlist .playlist1 .playimg .Piano .image::-webkit-scrollbar, .playlist .playlist1 .playimg .Hiphop .image::-webkit-scrollbar {
  height: 4px;
}
.playlist .playlist1 .playimg .pop .image .imag, .playlist .playlist1 .playimg .Piano .image .imag, .playlist .playlist1 .playimg .Hiphop .image .imag {
  width: 120px;
  height: 120px;
  border-radius: 99999px;
}
.playlist .playlist1 .playimg .pop .image .imag img, .playlist .playlist1 .playimg .Piano .image .imag img, .playlist .playlist1 .playimg .Hiphop .image .imag img {
  width: 120px;
  height: 120px;
  border-radius: 99999px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .playlist .playlist1 .playsong {
    width: 55%;
  }
  .playlist .playlist1 .playimg {
    width: 45%;
  }
}
@media screen and (max-width: 571px) {
  .playlist .playlist1 .playsong {
    width: 100%;
  }
  .playlist .playlist1 .playimg {
    display: none;
  }
  .playlist .playlist1 .filter {
    display: block;
  }
}
.music-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}
.music-container h1 {
  font-size: 15px;
}

.music-controls button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffc107; /* Sarı tonu */
}

.volume-control button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  color: #ffc107; /* Sarı tonu */
}

.music-info {
  flex-grow: 1;
  text-align: center;
}

.progress {
  height: 10px;
  flex-grow: 1.2;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative; /* İlave */
}

.progress .progress-bar {
  /* İlerleme çubuğunun rengi */
  /* Sarı tonu */
  width: 100%; /* İlave */
  height: 100%; /* İlave */
  position: absolute; /* İlave */
  top: 0; /* İlave */
  left: 0; /* İlave */
  appearance: none; /* İlave */
  border: none; /* İlave */
  border-radius: 5px; /* İlave */
  outline: none; /* İlave */
  background-color: #ffda2a;
}

input[type=range] {
  -webkit-appearance: none; /* Safari ve Chrome için varsayılan stilleri devre dışı bırak */
  width: 100%;
  height: 10px;
  background: #ffda2a; /* Renk gradyanı */
  border-radius: 5px;
  outline: none; /* Odaklanıldığında kenarlığı kaldır */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Safari ve Chrome için varsayılan stilleri devre dışı bırak */
  width: 20px;
  height: 20px;
  background: #121213; /* Başlangıçta beyaz renkte bir başlık */
  border-radius: 50%; /* Yuvarlatılmış kenarlığı */
  cursor: pointer; /* Fareyi el tipine dönüştür */
  border: 2px solid #ccc; /* Kenarlık ekleyin */
}

.volume-control {
  flex-grow: 0.1;
  display: flex;
  align-items: center;
}

.time-control {
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.song-title {
  font-size: 20px;
}

#video-container2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  height: 350px;
  overflow: hidden;
  color: #ccc;
}

.imag23 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  animation: rotateAnimation 10s linear infinite; /* 2 saniyə müddətində, linearna dövrələndirilən sonsuz animasiya */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Başlanğıc rotasiya açısı */
  }
  to {
    transform: rotate(360deg); /* 360 dərəcə (bir tam dövrə) rotasiya açısı */
  }
}
.yaz {
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50%;
  text-align: start;
  transform: translate(-50%, -50%);
}
.yaz button {
  padding: 10px 14px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #ffda2a;
  transition: all 0.5s ease;
  filter: brightness(100%);
  color: #fff;
  font-size: 20px;
}
.yaz button:hover {
  filter: brightness(50%);
}

.video21 {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 771px) {
  .music-container {
    flex-direction: column;
    width: 100%;
  }
  .time-control {
    gap: 20px;
  }
}
.imag {
  position: relative;
  display: inline-block;
}

.imag img {
  display: block;
  transition: filter 0.3s ease; /* Geçiş efekti için */
}

.imag p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  white-space: wrap;
  color: white;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  opacity: 0; /* Başlangıçta görünmez yapar */
  transition: opacity 0.3s ease; /* Geçiş efekti için */
}

.imag:hover img {
  filter: brightness(70%); /* Resmi karartır */
}

.imag:hover p {
  opacity: 1; /* Metni görünür yapar */
}

.acount {
  width: 100%;
  padding-block: 50px;
}
.acount .acount1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.acount .acount1 .left {
  width: 25%;
  border: 1px solid #fff;
  height: 100vh;
  gap: 30px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 20px;
}
.acount .acount1 .left button {
  border: none;
  background-color: transparent;
  color: #fff;
}
.acount .acount1 .right {
  width: 75%;
  border: 1px solid #fff;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.acount .acount1 .right .name, .acount .acount1 .right .email {
  color: #fff;
}
.acount .acount1 .right .name label, .acount .acount1 .right .email label {
  font-size: 15px;
}
.acount .acount1 .right .name h1, .acount .acount1 .right .email h1 {
  font-size: 20px;
}

.user {
  color: #fff;
  padding-block: 80px;
}

@media screen and (max-width: 776px) {
  .acount .acount1 {
    flex-direction: column;
  }
  .acount .acount1 .left, .acount .acount1 .right {
    width: 100%;
  }
  .acount .acount1 .left {
    height: 30vh;
  }
  .user-profile {
    background-color: yellow;
  }
}
.add-song {
  color: #fff;
}

/* Select elementine hover olduğunda */
select:hover {
  border-color: #6c757d;
}

/* Select elementi kapalıyken */
select {
  transition: border-color 0.3s ease-in-out;
}

/* Select elementi açıldığında */
select:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

#previewAudio {
  margin: 10px 0;
}

#previewImage {
  margin: 10px 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px dashed white;
}

#audioPlayer {
  margin: 10px 0;
}

.form {
  background-color: transparent !important;
}

table {
  border: 1px solid white;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  margin: 30px auto;
  border-collapse: collapse;
  width: 50%;
  overflow-y: scroll;
}
table::-webkit-scrollbar-thumb {
  background-color: #ffda2a;
}
table::-webkit-scrollbar {
  width: 2px;
}
table button {
  background-color: transparent;
  color: #fff;
}
table tr, table td, table th {
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
}/*# sourceMappingURL=style.css.map */